.equalSign { /* so that the equal sign is centered vertically between the two images */
    margin-top: 55px;
}

.equalSection { /* just for some more white space */
    margin-bottom: 25px;
}

.lastDiv {
    margin-top: 30px;
}

.spaceAround { /* to create an even space between the images and equal sign */
    justify-content: space-around;
    margin: 0 10px 0 10px;
}

#toLeft { /*specifically for the first equal sign, to make it look centered on the page*/
    position: relative;
    left: -20px;
}

#toRight { /* specifically for the red shirt, because it was too close to the equal sign */
    position: relative;
    left: -20px;
}
