 /* this is for the very first page! */

#frontpage {
    align-items: center;
    align-content: center;
}

#logoimg {
    padding-top: 30px;
    padding-bottom: 40px;
}

.slogan {
    font-weight: 100;
    font-size: 150%;
    color: #50514F;
}

#scrollarrows {
    padding-top: 50px;
}


 /* end of first page */

 /* here starts the decription of fast fashion */


#description {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#whatisit {
    padding-top: 30%;
}

#box {
    background-color: white;
    border-radius: 10%;
    margin-top: 50px;
    z-index: 1;
}

#details {
    padding: 10%;
    color: #50514F;
}

/* this is the clothing in behind the description box */ 


#pile {
    /* position: absolute; */
    position: relative;
    top: -50px;
    /* right: 40%; */
    /* top: 144%; */
}

/* this is the awful start of attempting to get this aligned properly lol */


#thread {
    padding-top: 85px;
    align-items: flex-end;
}


#unwind {
    font-weight: 600;
    text-align: right;
}

#redarrow {
    transform: translate(60px, -10px);
}

/* this section is about clothing waste */

#clothing-waste {
    margin: 0 40px 0 40px;
}

/* this is the garbage truck area*/
#garbage {
    margin: 30px 0 30px 0;
}

#clothing-info {
    font-weight: 900;
    font-size: 24px;
    text-align: right;
}

#percent {
    font-size: 48px;
    margin: 0;
    font-weight: bolder;
}

/* this is the repurposed and recycled area*/

.slightBold {
    font-weight: 600;
}

#or-text {
    margin: 50px 35px 0 35px;
}
