/* ====================================================================
~ this css file is for layout, spacings and text ~
not complete! will be adjusted according to how everyones code is
=======================================================================*/

body {
    margin: 0;
    justify-content: center;
    background-color: black; /* could be a different bg color if we wanted */
}
.main {
    box-sizing: border-box;
    background-color: lightblue;
    flex-direction: column;
    justify-content: center;
    min-width: 375px;
    max-width: 375px;
    padding: 25px;
    background-image: linear-gradient( /* not sure how this would look on the full infographic, add more if needed */
        #CCE6F4, #fcdb58, #A6C48A,
        #CCE6F4, #fcdb58, #A6C48A, 
        #CCE6F4)
}

/* ====================================================
    flex stuff
==================================================== */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}

/* =====================================================
    text content
===================================================== */
.flex-row > p { /* for text that align to left */
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 170px;
}
.alignRight { /* for text that align to right */
    text-align: right;
    margin-left: 20px;
}
h1 {
    text-align: center;
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 400;
}
h2 {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 1.875rem;
}
h3, li, div {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
h2, h3 {
    text-align: center;
}
p, .bolded {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.greyText {
    color: #50514F;
}

/* =======================================================
    spacings/margins
======================================================= */
.spacingMargin {
    margin: 25px 0 25px 0;
}

.biggerSpacing {
    margin: 50px 0 50px 0;
}
.headerMargin {
    margin-top: 70px;
    margin-bottom: 20px;
}