html, body {
    min-width: 375px;
    max-width: 375px;
    margin: 0 auto;
    padding: 16px;
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0, auto;
}

#logoimg {
    padding-bottom: 15%;
}

#titleimg {
    width: 150%;
    height: 150%;
}

.slogan {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #50514F;

}